[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=FrontPanel
Name=FrontPanel
GenericName=SDK
Icon=frontpanel
Categories=Development;Engineering;
StartupWMClass=FrontPanel.bin
