ISE/
usb_mini2/
vivado/
*.zip
*webtalk*
*impact*
output.txt
__pycache__/
okaertool.log
*.rar
*.exe
build/
dist/
*.egg-info/
python_package/test/main_NAS.ipynb
python_package/test/main.py
python_package/test/OSU_prueba.py
python_package/test/my_file.txt
python_package/test/Hand.dat
python_package/test/design_1_wrapper.bit
python_package/test/design_1_wrapper_12MHz.bit
FrontPanel-Ubuntu*/
